<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>charity</title>
    <link rel="stylesheet" href="/styles/who we are.css">
    <link rel="icon" href="/assets/favicon.png">
</head>
<body>
    <div>
        <div class="first_row">
            <div class="navbar">
                <div class="container1">
                    <img src="/assets/logo.jpg">
                </div>

                <div class="container2">
                        <a href="/views/home.html" class="one"><p>HOME</p></a>
                        <a href="/views/who-we-are.html"><p class="one">WHO WE ARE</p></a>
                        <a href="/views/Programs.html"><p class="one">PROGRAM</p></a>
                        <p class="one">ABOUT</p>
                        <p class="one">BLOG</p>
                        <p class="one">CONTACT US</p>
                </div>
            
                <div class="container3">
                    <h3>call to: 9849150209</h3>
                    <button id="button"> make a donation</button>
                </div>
            </div>
            <div class="middle-text">
                What we do?
            </div>
        </div>
         <div class="second-row">
                <div>
                    <img src="/assets/about1.jpg" class="second-row-img">
                </div>
                <div class="second-row-left-side">
                    <h4 class="second-row-first-line">upcoming Program</h4>
                    <h2 class="second-row-second-line">Donate vitamin B12 supply Program</h2>
                    <h3 class="second-row-third-line">When a child gets access to good food, it can change just about everything. Sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </h3>  
                    <button class="Donate-now">Donate now</button>
                    <button class="view-programs">view programs</button>
                </div>
            </div>
        </div>
        <div class="sixth-row">
                <div class="sixth-row-upper-text">
                    <p class="sixth-row-upper-text-first-line">Helping today</p>
                    <p class="sixth-row-upper-text-second-line">How we help people</p>
                </div>
                <div class="sixth-row-lower-text">
                    <div class="sixth-row-lower-text-first-row">
                        <img src="/assets/Services.svg" class="sixth-row-lower-text-first-row-fisrt-img">
                        <p class="sixth-row-lower-text-first-row-first-line">Pure Food & Water</p>
                        <p class="sixth-row-lower-text-first-row-second-line">Odio aliquet, fringilla odio eget, tincidunt nunc duis aliquet pulvinar ante employees and organizations to support.</p>
                    </div>
                    <div class="sixth-row-lower-text-first-row">
                        <img src="/assets/Services (1).svg" class="sixth-row-lower-text-first-row-fisrt-img">
                        <p class="sixth-row-lower-text-first-row-first-line">Health & Medicine</p>
                        <p class="sixth-row-lower-text-first-row-second-line">Odio aliquet, fringilla odio eget, tincidunt nunc duis aliquet pulvinar ante employees and organizations to support.</p>
                    </div>
                    <div class="sixth-row-lower-text-first-row">
                        <img src="/assets/Services (2).svg" class="sixth-row-lower-text-first-row-fisrt-img">
                        <p class="sixth-row-lower-text-first-row-first-line">Education</p>
                        <p class="sixth-row-lower-text-first-row-second-line">Odio aliquet, fringilla odio eget, tincidunt nunc duis aliquet pulvinar ante employees and organizations to support.</p>
                    </div>
                </div>
            </div>
            <div>
            <div class="third-row">
                <div>
                    <p class="third-row-first-line">About Us</p>
                    <p class="third-row-second-line">We are tender heart charity foundation.</p>
                    <p class="third-row-third-line">When a child gets access to good food, it can change just about everything. Sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <button class="Discover-More">Discover More</button>
                </div>
                <div class="third-row-img">
                    <img src="/assets/about2.jpg">
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-first-row">
                <img src="/assets/logo.jpg">
                <h2>When a child gets access to good food, it can change just about everything. Sed do eiusmod tempor incididunt dolore magna aliqua.</h2>
            </div>
            <div class="bottom-second-row">
                <h2>Navigation</h2>
                <p>HOME</p>
                <p>WHO WE ARE</p>
                <p>PROGRAM</p>
                <p>ABOUT</p>
                <p>BLOG</p>
                <p>CONTACT US</p>
            </div>
            <div class="bottom-third-row">
                <h2>Contact Us</h2>
                <p class="bottom-third-row-second-line" style="font-size: 22px;">4486 Richards Avenue, Modesto CA - 95354</p>
                <p>209-818-6041</p>
                <p>charity90@gmail.com</p>
            </div>
            <div class="bottom-fourth-row">
                <h2>Support</h2>
                <p class="bottom-fourth-row-second-line" style="font-size: 22px;">When a child gets access to good food, it can change.</p>
                <button class="join-us-today">Join us Today</button>
            </div>
        </div>
    </div>
</body>
</html>