body{
    margin: 0%;
}
.navbar {
            display:flex;
            justify-content: space-between;
            height: 100px;
        }

        .container2{
            display: flex;
            gap:30px;
            justify-content: space-between;
            color: white;
            cursor: pointer;
        }

        .one {
            color: white;
            text-decoration: none;
        }

        .one:hover{
            color: aqua;
            transition: all in 0.4s;
            cursor: pointer;
         }
         .container3{
            display:flex;
            color: white;
            gap:20px;
        }
         #button {
            width: 130px;
            height: 50px;
            background-color: #F15B43;
            color: white; 
        }
        #button:hover {
            background-color: transparent;
            cursor: pointer;
            transition: all;
        }
         .first_row{
            
            background-image: url(/assets/h2_hero1.jpg);
            height: 400px;
            width: 1275px;
            padding-top: 15px;

         }
         .middle-text{
            width: 500px;
            padding-top: 100px;
            padding-bottom: 30;
            padding-left: 80px;
            color: #fff;
            font-family: "jost", sans-serif;
            font-size: 60px;
            margin-bottom: 20px;
         }
         .fourth-row{
            height: 1000px;
            width: 1250px;
            /* display: flex;
            justify-content: space-between;
             */
        }
        .fourth-row-first-coloum{
            height: 450px;
            width: 500px;
            background-color: #F4F2F1;
            border: 2px solid transparent;
        }
        .fourth-row-first-img{
            height: 240px;
            width: 500px;
        }
        .fourth-row-first-img-first-line{
            color: #263B5C;
            font-size: 20px;

        }
        .fourth-row-first-img-first-line:hover{
            color: #F15B43;
            cursor: pointer;
        }
        .fourth-row-first-img-second-line{
            font-size: 20px;
        }
        .fourth-row-first-img-third-line{
            display: flex;
            justify-content: space-between;
        }
       
        .fourth-row-second-coloum{
            height: 450px;
            width: 500px;
            background-color: #F4F2F1;
            border: 2px solid transparent;
        }
        .fourth-row-second-img{
            height: 240px;
            width: 500px;
        }.fourth-row-second-img-first-line{
            color: #263B5C;
            font-size: 17px;
        }
        .fourth-row-second-img-first-line:hover{
            color: #F15B43;
            cursor: pointer;
        }
        .fourth-row-third-coloum{
            height: 450px;
            width: 500px;
            background-color: #F4F2F1;
            border: 2px solid transparent;
        }
        .fourth-row-third-img{
            height: 240px;
            width: 500px;
        }
        .donate{
            background-color: #F15B43;
            padding: 17px 35px;
            color: #fff;
            font-size: 18px;
            border: 2px solid transparent;
        }
        .donate:hover{
            background-color: #ffffff33;
            color: #F15B43;
            border:2px solid #F15B43;
            padding: 17px 35px;
            font-size: 18px;
        }
        .upper-text{
            padding-top: 100px;
        }
        #programs{
            display: flex;
            justify-content: center;
            color: #65C9BB;
            font-size: 16px;
            font-weight: 400;
        }
        #ongoing-programs{
            display: flex;
            justify-content: center;
            color: #263B5C;
            font-size: 40px;
        }
        .first-row{
            display: flex;
            justify-content:center;
            gap: 50px;
            padding-bottom: 50px;
        }
        .bottom{
            background-color: #263B5C;
            height: 400px;
            display: flex;
            justify-content: space-around;
            color: #fff;
            padding-top: 50px;

        }
        .bottom-first-row{
            width: 300px;
            height: 300px;
            font-size: 10px;

        }
        .bottom-second-row{
            display: flex; 
            flex-direction: column;
            justify-content:space-between ; 
            height: 300px;
        }
        .bottom-third-row{
            width: 300px;
        }
        .bottom-fourth-row-second-line{
            width: 300px;
        }
        .join-us-today{
            background-color: #fff;
            padding: 17px 35px;
            color: #F15B43;
            font-size: 18px;
            border:2px solid #F15B43;
        }
        .join-us-today:hover{
            background-color: #F15B43;
            color: #fff;
            border: 2px solid #F15B43;
        }